mapfile-parser>=2.12.0,<3.0.0
git+https://github.com/inspectredc/spimdisasm.git@non-matching-label-toggle#egg=spimdisasm
rabbitizer==1.14.0
PyYAML
pylibyaml
tqdm
intervaltree
colorama
pygfxd
n64img>=0.1.4
GitPython
colour
requests
crunch64
numpy
