name: Build

# Build on every branch push, tag push, and pull request change:
on: [push, pull_request_target]

jobs:
  build_repo:
    name: Build repo
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false

    # Todo: Add secrets and verify builds
    steps:
    - name: Upload progress to Discord
      if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/master' }}
      run: python3 tools/upload_progress.py --discord_url ${{ secrets.DISCORD_URL }}
